### Conexão com banco de dados

In [88]:
import psycopg2

try:
    conn = psycopg2.connect(dbname="zetflix_384338_422743", user="aluno", password="Ck0114", host="200.129.44.242")
    cursor = conn.cursor()
    print("Conexão efetuada com sucesso.")
except (Exception, Error) as erro:
    print("Falha ao conectar-se com o banco de dados.")
    print(erro)

Conexão efetuada com sucesso.

### Scripts de criação das tabelas do Zetflix

In [89]:
# tabela usuario
cursor.execute("""CREATE TABLE usuario (
                   id_usuario INTEGER,
                   nome_usuario VARCHAR(50),
                   email_usuario VARCHAR(50),
                   CONSTRAINT pk_usuario PRIMARY KEY(id_usuario));""")
conn.commit()

In [90]:
# tabela filme
cursor.execute("""CREATE TABLE filme (
                   id_filme INTEGER,
                   titulo_filme VARCHAR(100) UNIQUE,
                   sinopse_filme VARCHAR(150),
                   duracao_filme INTEGER CHECK (duracao_filme >= 10 AND duracao_filme <= 225),
                   data_lancamento DATE CHECK (data_lancamento >= '2000-01-01' AND data_lancamento <= '2020-12-31'),
                   id_diretor INTEGER,
                   id_produtora INTEGER,
                   id_categoria INTEGER,
                   CONSTRAINT pk_filme PRIMARY KEY(id_filme));""")
conn.commit()

In [91]:
# tabela diretor
cursor.execute("""CREATE TABLE diretor (
                   id_diretor INTEGER,
                   nome_diretor VARCHAR(30),
                   data_nasc DATE,
                   data_morte DATE DEFAULT NULL,
                   CONSTRAINT pk_diretor PRIMARY KEY(id_diretor));""")
conn.commit()

In [92]:
# tabela ator
cursor.execute("""CREATE TABLE ator (
                   id_ator INTEGER,
                   nome_ator VARCHAR(30),
                   data_nasc DATE,
                   data_morte DATE DEFAULT NULL,
                   CONSTRAINT pk_ator PRIMARY KEY(id_ator));""")
conn.commit()

In [93]:
# tabela produtora
cursor.execute("""CREATE TABLE produtora (
                   id_prod INTEGER,
                   nome_prod VARCHAR(50) UNIQUE,
                   site_prod VARCHAR(50),
                   pais VARCHAR(10),
                   cidade VARCHAR(15),
                   rua VARCHAR(15),
                   numero INTEGER,
                   CONSTRAINT pk_produtora PRIMARY KEY(id_prod));""")
conn.commit()

In [94]:
# tabela serie
cursor.execute("""CREATE TABLE serie (
                   id_serie INTEGER,
                   titulo_serie VARCHAR(100) UNIQUE,
                   desc_filme VARCHAR(150),
                   qtd_temp INTEGER CHECK (qtd_temp <= 31),
                   id_diretor INTEGER,
                   id_produtora INTEGER,
                   CONSTRAINT pk_serie PRIMARY KEY(id_serie));""")
conn.commit()

In [95]:
# tabela temporada
cursor.execute("""CREATE TABLE temporada (
                   id_temp INTEGER,
                   desc_temp VARCHAR(150),
                   qtd_ep INTEGER CHECK (qtd_ep >= 6 AND qtd_ep <= 30),
                   CONSTRAINT pk_temporada PRIMARY KEY(id_temp));""")
conn.commit()

In [112]:
# tabela episodio
cursor.execute("""CREATE TABLE episodio (
                   id_ep INTEGER,
                   titulo_ep VARCHAR(100),
                   desc_temp VARCHAR(150),
                   duracao_ep INTEGER CHECK (duracao_ep >= 15 AND duracao_ep <= 90),
                   id_temp INTEGER,
                   CONSTRAINT pk_episodio PRIMARY KEY(id_ep));""")
conn.commit()

In [97]:
# tabela categoria
cursor.execute("""CREATE TABLE categoria (
                   id_categoria INTEGER,
                   desc_categoria VARCHAR(150),
                   tipo_categoria VARCHAR(15),
                   CONSTRAINT pk_categoria PRIMARY KEY(id_categoria));""")
conn.commit()

In [98]:
# tabela avalia_filme
cursor.execute("""CREATE TABLE avalia_filme (
                   id_avaliacao INTEGER,
                   id_usuario INTEGER,
                   id_filme INTEGER,
                   nota INTEGER CHECK (nota >= 0 AND nota <= 5),
                   CONSTRAINT pk_avalia_filme PRIMARY KEY(id_avaliacao));""")
conn.commit()

In [109]:
# tabela avalia_serie
cursor.execute("""CREATE TABLE avalia_serie (
                   id_avaliacao INTEGER,
                   id_usuario INTEGER,
                   id_serie INTEGER,
                   nota INTEGER CHECK (nota >= 0 AND nota <= 5),
                   CONSTRAINT pk_avalia_serie PRIMARY KEY(id_avaliacao));""")
conn.commit()

In [100]:
# tabela estrela_filme
cursor.execute("""CREATE TABLE estrela_filme (
                   id_filme INTEGER,
                   id_ator INTEGER);""")
conn.commit()

In [60]:
# tabela estrela_ep
cursor.execute("""CREATE TABLE estrela_ep (
                   id_ep INTEGER,
                   id_ator INTEGER);""")
conn.commit()

In [102]:
# tabela tel_produtora
cursor.execute("""CREATE TABLE tel_produtora (
                   id_tel INTEGER,
                   id_prod INTEGER,
                   telefone CHAR(8));""")
conn.commit()

### Chaves estrangeiras

In [105]:
# chave estrangeira para diretor do filme, produtora do filme e categoria do filme
cursor.execute("""ALTER TABLE filme
                  ADD CONSTRAINT fk_diretor_filme 
                  FOREIGN KEY (id_diretor) REFERENCES diretor(id_diretor),
                  ADD CONSTRAINT fk_produtora_filme 
                  FOREIGN KEY (id_produtora) REFERENCES produtora(id_prod),
                  ADD CONSTRAINT fk_categoria_filme 
                  FOREIGN KEY (id_categoria) REFERENCES categoria(id_categoria);""")
conn.commit()

In [106]:
# chave estrangeira avalia_filme
cursor.execute("""ALTER TABLE avalia_filme
                  ADD CONSTRAINT fk_usuario_avfilme 
                  FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario),
                  ADD CONSTRAINT fk_filme_avfilme 
                  FOREIGN KEY (id_filme) REFERENCES filme(id_filme);""")
conn.commit()

In [110]:
# chave estrangeira avalia_serie
cursor.execute("""ALTER TABLE avalia_serie
                  ADD CONSTRAINT fk_usuario_avserie
                  FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario),
                  ADD CONSTRAINT fk_filme_avserie 
                  FOREIGN KEY (id_serie) REFERENCES serie(id_serie);""")
conn.commit()

In [111]:
# chave estrangeiras de serie
cursor.execute("""ALTER TABLE serie
                  ADD CONSTRAINT fk_diretor_serie
                  FOREIGN KEY (id_diretor) REFERENCES diretor(id_diretor),
                  ADD CONSTRAINT fk_produtora_serie 
                  FOREIGN KEY (id_produtora) REFERENCES produtora(id_prod);""")
conn.commit()

In [113]:
# chaves estrangeiras de episodio
cursor.execute("""ALTER TABLE episodio
                  ADD CONSTRAINT fk_temporada_ep
                  FOREIGN KEY (id_temp) REFERENCES temporada(id_temp);""")
conn.commit()

In [114]:
# chave estrangeira de tel_produtora
cursor.execute("""ALTER TABLE tel_produtora
                  ADD CONSTRAINT fk_produtora_telprod
                  FOREIGN KEY (id_prod) REFERENCES produtora(id_prod);""")
conn.commit()

In [115]:
# chave estrangeiras de estrela_filme
cursor.execute("""ALTER TABLE estrela_filme
                  ADD CONSTRAINT fk_filme_estrela
                  FOREIGN KEY (id_filme) REFERENCES filme(id_filme),
                  ADD CONSTRAINT fk_ator_estrela
                  FOREIGN KEY (id_ator) REFERENCES ator(id_ator);""")
conn.commit()

In [61]:
# chave estrangeiras de estrela_ep
cursor.execute("""ALTER TABLE estrela_ep
                  ADD CONSTRAINT fk_ep_estrela
                  FOREIGN KEY (id_ep) REFERENCES episodio(id_ep),
                  ADD CONSTRAINT fk_ator_estrela
                  FOREIGN KEY (id_ator) REFERENCES ator(id_ator);""")
conn.commit()

### Triggers

#### Tabela filme

In [23]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION filmeConsis() RETURNS TRIGGER AS $tgg_filme$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM diretor D WHERE D.id_diretor = NEW.id_diretor) THEN
                                RAISE EXCEPTION 'Erro de consistência: diretor não encontrado.';
                            END IF;
                            IF NOT EXISTS (SELECT FROM produtora P WHERE P.id_prod = NEW.id_produtora) THEN
                                RAISE EXCEPTION 'Erro de consistência: produtora não encontrada.';
                            END IF;
                            IF NOT EXISTS (SELECT FROM categoria C WHERE C.id_categoria = NEW.id_categoria) THEN
                                RAISE EXCEPTION 'Erro de consistência: categoria não encontrada.' ;
                            END IF;
                            RETURN NEW;
                        ELSIF (TG_OP = 'DELETE') THEN
                            IF EXISTS (SELECT FROM estrela_filme EF WHERE EF.id_filme = OLD.id_filme) THEN
                                RAISE EXCEPTION 'Erro de consistência: o registro é referenciado na tabela estrela_filme.';
                            END IF;
                            IF EXISTS (SELECT FROM avalia_filme AF WHERE AF.id_filme = OLD.id_filme) THEN
                                RAISE EXCEPTION 'Erro de consistência: o registro é referenciado na tabela avalia_filme.';
                            END IF;
                            RETURN OLD;
                        END IF;
                    END;
                $tgg_filme$ language plpgsql;""")
conn.commit()

In [27]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_filme 
                  BEFORE INSERT OR UPDATE OR DELETE ON filme
                    FOR EACH ROW EXECUTE PROCEDURE filmeConsis();""")
conn.commit()

#### Tabela série

In [66]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION serieConsis() RETURNS TRIGGER AS $tgg_serie$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM diretor D WHERE D.id_diretor = NEW.id_diretor) THEN
                                RAISE EXCEPTION 'Erro de consistência: diretor não encontrado.';
                            END IF;
                            IF NOT EXISTS (SELECT FROM produtora P WHERE P.id_prod = NEW.id_produtora) THEN
                                RAISE EXCEPTION 'Erro de consistência: produtora não encontrada.';
                            END IF;
                            RETURN NEW;
                        ELSIF (TG_OP = 'DELETE') THEN
                            IF EXISTS (SELECT FROM avalia_serie ASerie WHERE ASerie.id_serie = OLD.id_serie) THEN
                                RAISE EXCEPTION 'Erro de consistência: o registro é referenciado na tabela avalia_serie.';
                            END IF;
                            RETURN OLD;
                        END IF;
                    END;
                $tgg_serie$ language plpgsql;""")
conn.commit()

In [67]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_serie 
                  BEFORE INSERT OR UPDATE OR DELETE ON serie
                    FOR EACH ROW EXECUTE PROCEDURE serieConsis();""")
conn.commit()

#### Tabela episodio

In [62]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION epConsis() RETURNS TRIGGER AS $tgg_ep$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM temporada T WHERE T.id_temp = NEW.id_temp) THEN
                                RAISE EXCEPTION 'Erro de consistência: temporada não encontrada.';
                            END IF;
                            RETURN NEW;
                        ELSIF (TG_OP = 'DELETE') THEN
                            IF EXISTS (SELECT FROM estrela_ep EstrE WHERE EstrE.id_ep = OLD.id_ep) THEN
                                RAISE EXCEPTION 'Erro de consistência: o registro é referenciado na tabela estrela_ep.';
                            END IF;
                            RETURN OLD;
                        END IF;
                    END;
                $tgg_ep$ language plpgsql;""")
conn.commit()

In [63]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_ep 
                  BEFORE INSERT OR UPDATE OR DELETE ON episodio
                    FOR EACH ROW EXECUTE PROCEDURE epConsis();""")
conn.commit()

#### Tabela avalia_filme

In [47]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION avfilmeConsis() RETURNS TRIGGER AS $tgg_avalia_filme$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM filme F WHERE F.id_filme = NEW.id_filme) THEN
                                RAISE EXCEPTION 'Erro de consistência: filme não encontrado.';
                            END IF;
                            IF NOT EXISTS (SELECT FROM usuario U WHERE U.id_usuario = NEW.id_usuario) THEN
                                RAISE EXCEPTION 'Erro de consistência: usuario não encontrado.';
                            END IF;
                            RETURN NEW;
                        END IF;
                    END;
                $tgg_avalia_filme$ language plpgsql;""")
conn.commit()

In [48]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_avalia_filme 
                  BEFORE INSERT OR UPDATE OR DELETE ON avalia_filme
                    FOR EACH ROW EXECUTE PROCEDURE avfilmeConsis();""")
conn.commit()

#### Tabela avalia_serie

In [49]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION avserieConsis() RETURNS TRIGGER AS $tgg_avalia_serie$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM serie S WHERE S.id_serie = NEW.id_serie) THEN
                                RAISE EXCEPTION 'Erro de consistência: serie não encontrada.';
                            END IF;
                            IF NOT EXISTS (SELECT FROM usuario U WHERE U.id_usuario = NEW.id_usuario) THEN
                                RAISE EXCEPTION 'Erro de consistência: usuario não encontrado.';
                            END IF;
                            RETURN NEW;
                        END IF;
                    END;
                $tgg_avalia_serie$ language plpgsql;""")
conn.commit()

In [50]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_avalia_serie 
                  BEFORE INSERT OR UPDATE OR DELETE ON avalia_serie
                    FOR EACH ROW EXECUTE PROCEDURE avserieConsis();""")
conn.commit()

#### Tabela estrela_filme

In [51]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION estfilmeConsis() RETURNS TRIGGER AS $tgg_estrela_filme$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM filme F WHERE F.id_filme = NEW.id_filme) THEN
                                RAISE EXCEPTION 'Erro de consistência: serie não encontrada.';
                            END IF;
                            IF NOT EXISTS (SELECT FROM ator A WHERE A.id_ator = NEW.id_ator) THEN
                                RAISE EXCEPTION 'Erro de consistência: ator não encontrado.';
                            END IF;
                            RETURN NEW;
                        END IF;
                    END;
                $tgg_estrela_filme$ language plpgsql;""")
conn.commit()

In [52]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_estrela_filme 
                  BEFORE INSERT OR UPDATE OR DELETE ON estrela_filme
                    FOR EACH ROW EXECUTE PROCEDURE estfilmeConsis();""")
conn.commit()

#### Tabela estrela_ep

In [64]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION estepisodioConsis() RETURNS TRIGGER AS $tgg_estrela_ep$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM episodio EP WHERE EP.id_ep = NEW.id_ep) THEN
                                RAISE EXCEPTION 'Erro de consistência: episodio não encontrado.';
                            END IF;
                            IF NOT EXISTS (SELECT FROM ator A WHERE A.id_ator = NEW.id_ator) THEN
                                RAISE EXCEPTION 'Erro de consistência: ator não encontrado.';
                            END IF;
                            RETURN NEW;
                        END IF;
                    END;
                $tgg_estrela_ep$ language plpgsql;""")
conn.commit()

In [65]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_estrela_ep 
                  BEFORE INSERT OR UPDATE OR DELETE ON estrela_ep
                    FOR EACH ROW EXECUTE PROCEDURE estepisodioConsis();""")
conn.commit()

#### Tabela tel_produtora

In [68]:
# a função
cursor.execute("""CREATE OR REPLACE FUNCTION telprodConsis() RETURNS TRIGGER AS $tgg_tel_produtora$
                    BEGIN
                        IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN
                            IF NOT EXISTS (SELECT FROM produtora P WHERE P.id_prod = NEW.id_prod) THEN
                                RAISE EXCEPTION 'Erro de consistência: produtora não encontrada.';
                            END IF;
                            RETURN NEW;
                        END IF;
                    END;
                $tgg_tel_produtora$ language plpgsql;""")
conn.commit()

In [69]:
# a trigger
cursor.execute("""CREATE TRIGGER tgg_tel_produtora 
                  BEFORE INSERT OR UPDATE OR DELETE ON tel_produtora
                    FOR EACH ROW EXECUTE PROCEDURE telprodConsis();""")
conn.commit()

### Inserções

In [71]:
#importa csvs locais
import csv

In [89]:
# inserindo em diretor
with open('csv/diretor.csv', 'r') as diretores: 
    ler_diretores = csv.reader(diretores)
    for line in ler_diretores:
        cursor.execute("INSERT INTO diretor(id_diretor, nome_diretor, data_nasc, data_morte) VALUES (%s, %s, %s, %s);", (line[0], line[1], line[2], (None if line[3] == "" else line[3])))
conn.commit()

In [90]:
# inserindo em ator
with open('csv/ator.csv', 'r') as atores: 
    ler_atores = csv.reader(atores)
    for line in ler_atores:
        cursor.execute("INSERT INTO ator(id_ator, nome_ator, data_nasc, data_morte) VALUES (%s, %s, %s, %s);", (line[0], line[1], line[2], (None if line[3] == "" else line[3])))
conn.commit()

### Encerrando a conexão com o banco

In [ ]:
cursor.close()
conn.close()